body {
  height: 100%;
  background-color:  hsl(240, 14%, 10%);
}

h1 {
    color:white;
    margin-bottom: 80px;
}

.container {
    height: 700px;
    width: 700px;

    display:flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display:flex;
    align-items: center;
    justify-content: center;
}

.column {
    max-height: inherit;
    height: 100px;
    width: 100px;
    border: solid rgb(21, 21, 27);
    border-width: 1px;
    box-sizing: border-box;
    flex:1;
}

